<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.frontend.frontend.Activities"
            android:exported="false" />
        <!-- LoginActivity is now the landing page -->
        <activity
            android:name="com.frontend.frontend.LandingPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Frontend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- RegisterActivity -->
        <activity
            android:name="com.frontend.frontend.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Frontend" /> <!-- HomePage Activity -->
        <activity
            android:name="com.frontend.frontend.HomePage"
            android:exported="false"
            android:theme="@style/Theme.Frontend" /> <!-- LandingPageActivity -->
        <activity
            android:name="com.frontend.frontend.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Frontend" />
    </application>

</manifest>